.gameContainer{
    @apply relative;
    height: 720px;
}

.map {
    @apply relative;
    height: 768px;
}

.styles_for_question {
  @apply text-5xl text-title-color mr-5 font-bold;
}


.rightAnswerPopup {
    @apply absolute bg-green p-4 rounded-lg shadow-lg h-8 flex flex-col items-center justify-center text-white;
    width: fit-content;
    animation: popupDissapearAnimation 1.1s;
}

.wrongAnswerPopup {
    @apply absolute bg-red p-4 rounded-lg shadow-lg h-8 flex flex-col items-center justify-center text-white;
    width: fit-content;
    animation: popupDissapearAnimation 1.1s;
}


@keyframes popupDissapearAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }

}