.container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 20px;
    .buttons {
        grid-column: 1 / 2;
    }
}

.wideButton {
    @apply flex;
    width: 600px;
}

.row1 {
    @apply flex;
    justify-content: space-between;
}

.row2 {
    @apply flex;
    justify-content: space-between;
}