.wideButton {
    @apply flex;
    width: 600px;
}

.customButton {
    @apply flex;
    width: 250px;
    margin-left: 50px;
}

.row {
    @apply flex;
    justify-content: space-between;
}

.upperButton {
    display: inline-flex;
}

.lowerButtons {
    display: inline-flex;
}

.colorOrange {
    @apply bg-button-orange hover:bg-button-orange;
}

.colorEasy {
    @apply bg-easy-custom-color hover:bg-easy-custom-color-hover;
}

.colorMedium {
    @apply bg-medium-custom-color hover:bg-medium-custom-color-hover;
}

.colorHard {
    @apply bg-hard-custom-color hover:bg-hard-custom-color-hover;
}

@media (max-width: 1920px) {
    .wideButton {
        width: 500px;
        margin-bottom: 12px;
    }
    .customButton {
        width: 200px;
        height: 75px;
    }
}

@media (max-width: 1280px) {
    .wideButton {
        width: 350px;
        margin-bottom: 12px;
    }
    .customButton {
        width: 200px;
        height: 75px;
        margin-left: 10px;
    }
}

@media (max-width: 1024px) {
    .wideButton {
        width: 300px;
        margin-bottom: 12px;
    }
    .customButton {
        width: 150px;
        height: 75px;
    }
}

@media (max-width: 830px) {
    .wideButton {
        width: 299px;
        margin-bottom: 12px;
    }
    .customButton {
        width: 135px;
        height: 75px;
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .wideButton {
        width: 300px;
        margin-bottom: 12px;
    }
    .customButton {
        width: 175px;
        height: 75px;
        margin-left: 25px;
    }

}

@media (max-width: 640px) {
    .wideButton {
        width: 300px;
        margin-bottom: 12px;
    }
    .customButton {
        width: 175px;
        height: 75px;
        margin-left: 10px;
    }
}
@media (max-width: 540px) {
    .row {
        transform: scale(0.9) translateX(-50px);
    }
    .wideButton {
        width: 300px;
        margin-bottom: 12px;
    }
    .customButton {
        width: 175px;
        height: 75px;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .row {
        transform: scale(0.8) translateX(-75px);
    }
    .wideButton {
        width: 250px;
        margin-bottom: 0;
    }
    .customButton {
        width: 150px;
        height: 75px;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .row {
        transform: scale(0.7) translateX(-125px);
    }
    .wideButton {
        width: 250px;
        margin-bottom: 0;
    }
    .customButton {
        width: 150px;
        height: 75px;
        margin-left: 0;
    }
}
@media (max-width: 340px) {
    .row {
        transform: scale(0.6) translateX(-150px);
    }
    .wideButton {
        width: 30px;
        margin-bottom: 0;
    }
    .customButton {
        width: 30px;
        height: 75px;
        margin-left: 0;
    }
}
